<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="vendor/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
    
  </head>

  <body ng-app="app">
    <br />
    <div class="container" ng-controller="ConverterCtrl as vm">
      <div ng-keydown="vm.pressedButton($event)" class="jumbotron form-group col-md-5 col-md-offset-4">
        <!-- <span class="glyphicon glyphicon-question-sign" ng-click="vm.openHelp('lg')"></span> -->
        <div class="text-center">
          <h3>Binary to X converter</h3>
          <p>Almog is my No1 user!!!</p>
          <div>
            <div>Dec</div>
            <input autofocus="" style="max-width=100px; " class="form-control input-lg" ng-model="vm.decNum " ng-type="number " ng-change="vm.decChanged(vm.decNum) " />
          </div>
          <div>
            <div>binary</div>
            <input class="form-control input-lg " ng-model="vm.binNum " ng-change="vm.binChanged(vm.binNum) " />
          </div>
          <div>
            <div>Hex</div>
            <input class="form-control input-lg " ng-model="vm.hexNum" ng-change="vm.hexChanged(vm.hexNum) " />
          </div>
          <br />
          <a class="btn btn-primary btn-lg " href="# " ng-click="(vm.addNum(-1)); ">-</a>
          <a class="btn btn-primary btn-lg " href="# " ng-click="(vm.resetTo(0)); ">Reset</a>
          <a class="btn btn-primary btn-lg " href="# " ng-click="(vm.addNum(1)); ">+</a>
          <!-- <div ng-bind="vm.debuger"></div> -->
        </div>
      </div>
    </div>

    
    <script src="vendor/jquery-1.11.2.min.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/ui-bootstrap-tpls-0.12.1.min.js"></script>


    <script src="vendor/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script src="convert.js"></script>
    
  </body>

</html>
