<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link data-require="bootstrap-css@~3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    
    

    <script data-require="angular.js@*" data-semver="1.3.0" src="//code.angularjs.org/1.3.11/angular.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <script src="converter.js"></script>
    <script src="keyboardInfo.html"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <br />
    <div class="container" ng-controller="ConverterCtrl as vm">
      <div ng-keydown="vm.pressedButton($event)" class="jumbotron form-group col-md-5 col-md-offset-4">
        <!-- <span class="glyphicon glyphicon-question-sign" ng-click="vm.openHelp('lg')"></span> -->
        <div class="text-center">
          <h3>Binary to X converter</h3>
          <p>Almog is my No1 user!!!</p>
          <div>
            <div>Dec</div>
            <input autofocus="" style="max-width=100px; " class="form-control input-lg" ng-model="vm.decNum " ng-type="number " ng-change="vm.decChanged(vm.decNum) " />
          </div>
          <div>
            <div>binary</div>
            <input class="form-control input-lg " ng-model="vm.binNum " ng-change="vm.binChanged(vm.binNum) " />
          </div>
          <div>
            <div>Hex</div>
            <input class="form-control input-lg " ng-model="vm.hexNum" ng-change="vm.hexChanged(vm.hexNum) " />
          </div>
          <br />
          <a class="btn btn-primary btn-lg " href="# " ng-click="(vm.addNum(-1)); ">-</a>
          <a class="btn btn-primary btn-lg " href="# " ng-click="(vm.resetTo(0)); ">Reset</a>
          <a class="btn btn-primary btn-lg " href="# " ng-click="(vm.addNum(1)); ">+</a>
          <!-- <div ng-bind="vm.debuger"></div> -->
        </div>
      </div>
    </div>
  </body>

</html>
